<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983388098395-6mrcbm7cuamq68i6jrk2lnidmi8cpran.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983388098395-6mrcbm7cuamq68i6jrk2lnidmi8cpran</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ZZxGAzskNAgJvix-VMc5iDS9yFDZoVg</string>
	<key>GCM_SENDER_ID</key>
	<string>983388098395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itstack.SAM</string>
	<key>PROJECT_ID</key>
	<string>samapp-46b3c</string>
	<key>STORAGE_BUCKET</key>
	<string>samapp-46b3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983388098395:ios:109766a3abc471a94fd47e</string>
	<key>DATABASE_URL</key>
	<string>https://samapp-46b3c.firebaseio.com</string>
</dict>
</plist>